/* header and menu */
* {
	box-sizing: border-box;
  }
  body {
	margin: 0;
  }
  /*Header and navbar*/
  header {
	background-color: #800080;
	margin: 0;
	height: auto;
  }
  
  h1 {
	font-family: Brush Script Std, cursive, bold;
	font-size: 55px;
	padding-top: 40px;
	margin: 10;
  }
  
  header nav {
	display: flex;
	justify-content: center;
  }
  
  header nav ul {
	display: flex;
  }
  
  h3, h1 {
	text-align: center;
	
  }
   
  header, footer {
	color: #32CD32;
  }
  .middle, .contact {
	  color: black;
  }
  /* horizontal menu*/
  nav ul {
	list-style-type: none;
	padding: 10px;
	text-align: left;
  }
  
  nav li {
	display: inline;
	padding: 14px, 16px;
	margin: 10px;
  }
  
  nav li a {
	color: #32CD32;
	text-align: center;
	text-decoration: none;
  }
  
  hr {
	border: 4px dashed #800080;
	width: 100%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	}
  
  /*bio portrati*/
  .group { 
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .item {
	flex: 1;
  
  }
  
  div #image {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
   
  }
  #portrait {
	border-radius: 50%;
	width: 300px;
  }
  
  /* Intro*/
  article h2, p, form {
	text-align: center;
  }
  
  .intro {
	color: black;
  }
  
  .intro a {
	  color: #0000FF;
  }
  .list-1 {
	width: 300px;
	margin: auto;
  }
  
  
  h2, nav {
	font-family: Helvetica, Arial, sans-serif;
	font-size:30px;
  }
  
  /* About */
  h2{
	font-size: 25px;
	font-family: Helvetica, Arial, sans-serif;
	color: black;
  }
  
  h3 {
	padding: 5px;
	margin: 10px;
	font-size: 45px;
	font-family: Brush Script Std, cursive, bold;
	color: #32CD32;
	border-bottom: solid #fff;
  }
  
  h4 {
	padding: 20px;
	margin: 10px;
	font-size: 30px;
	font-family: Brush Script Std, cursive, bold;
	color: #32CD32; 
	text-align: center;

  }
  article {
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .middle {
	margin: 0;
	padding: 20px;
  }
  .middle a, .contact a {
	color: #0000FF;
  }
  
  
  .middle a:visited {
	color: #0000FF;
   }
  
   .middle .item-double p{
	 text-align: center;
   }
  /* DnD Generator */
  .list-2 {
	width: 250px;
	margin: auto;
  }
  /*Contact */
  .contact {
	padding: 20px;
  }
  
  .contact a:visited {
	color: #0000FF;
  }
  
  .list-3 {
	width: 150px;
	margin: auto;
  }
  input{
	width: 300px;
  }
  textarea{
	width: 300px;
	height: 200px;
  }
  .contact img {
	border: solid #800080 10px;
	width: 100%;
	align: center;
  
  }
  /*Projects*/
  
  .projects img{
	border: solid #800080 10px;
  }
  
  .projects {
	color: black;
  }
  
  .projects a {
	color: #0000FF;
  }
  
  .projects a:visited{
	color: #0000FF;
  }
  
  .projects img {
	width: 100%;
  }
  
  .center{
	text-align: center;
	margin: 10px 20px 10px 20px;
  }
  
  .projects .item p { 
	text-align: left;
  }
  
  /* Footer */
  footer {
	padding-top: 40px;
	background-color: #800080;
  }
  
  
  /*Media Query for Desktop*/
  @media all and (min-width: 600px){
	/*navbar*/
	header{
	  display:flex;
	  justify-content: space-between;
	  padding: 0;
	}
	header h1{
	  padding: 20px 20px 20px 20px;
	  font-size: 55px;
	}
  
	nav li a:hover {
	  background-color: #800080;
	  padding: 10px;
	}
  
	/*Main Content*/
  
	.group{
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	}
  
	.item-double{
	  flex: 2;
	}
  
	/*Contact*/
	
	.align-left {
	  text-align: left;
	}
  
	.contact form div {
	  margin: 20px;
	}
  
	textarea{
	  width: 100%;
	}
  
	/*Projects*/
	.projects div{
	  margin: 10px;
	}
  
	.projects a:hover{
	  color: #0000FF;
	}
  
	
	/*links*/
	.middle a:hover{
	  color: #0000FF;
	}
  
	.contact a:hover {
	  color: #0000FF;
	}
  }

